.positive { color: #11dd11;}

.negative { color: #dd1111;}

.medium { color: #ddda11;}

.no-underlines {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #45a049;
  }
  
  /* Active effect */
  .button:active {
    background-color: #3e8e41;
  }

h1 { 
    color: hsl(0, 0%, 0%);
    font-size: 48px;
}

h6 {
    color: #c90000;
    font-size: 15px;
}

body {
    font-family: Helvetica, sans-serif;
}

.index_buttons {
  border: none;
  width: 200px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}