{% extends "base.html" %}

{% block content %}
<div>
    <h2>Velkommen!</h2>
</div>
<div>
    <a href="bmi_beregner">
        <button class="index_buttons">
            BMI beregner
        </button>
    </a>
    <br><br>
    <a href="enhedsomregner">
        <button class="index_buttons">
            enhedsomregner
        </button>
    </a>
    <br><br>
    <a href="volumen beregner">
        <button class="index_buttons">
            Volumen beregner
        </button>
    </a>
    <br><br>
    <a href="text_utility">
        <button class="index_buttons">
            Tekst funktioner
        </button>
    </a><br>
    <br><br><br><br><br>
    <a href="add">
        test page
    </a>
</div>

{% endblock %}