{% extends "base.html" %}

{% block content %}
<br>
<div class="center">
    <h2>Velkommen!</h2>
</div>
<br><br><br><br>
<div class="center">
    <a href="bmi_beregner">
        <button class="index_buttons">
            BMI beregner
        </button>
    </a>
</div>

    <br><br>
<div class="center">
    <a href="enhedsomregner">
        <button class="index_buttons">
            enhedsomregner
        </button>
    </a>
</div>
    <br><br>
<div class="center">
    <a href="volumen beregner">
        <button class="index_buttons">
            Volumen beregner
        </button>
    </a>
</div>
    <br><br>
<div class="center">
    <a href="text_utility">
        <button class="index_buttons">
            Tekst funktioner
        </button>
    </a>
</div>
    <br><br>
<div class="center">
    <a href="random_meme">
        <button class="index_buttons">
            Tilfældigt meme
        </button>
    </a>
</div>
</div>
    <br><br><br><br><br>
    <a href="add">
        test page
    </a>

{% endblock %}